<footer>
  <div class="footer">
    <small>© 2025 Nalivance. All rights reserved.</small>
    <small
      >Powered by
      <a href="vpcreative.com" target="_blank">VP Creative Studio</a>
    </small>
  </div>
  <div class="privacy">
    <small><a href="#" target="_blank">Privacy Policy</a></small>
  </div>
</footer>

<style lang="scss">
  @use "../assets/sass/mixin.scss" as *;
  @use "../assets/sass/variable.scss" as *;
  @use "../assets/sass/root.scss" as *;
  @use "../assets/sass/base.scss" as *;

  footer {
    @include flex-element;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: var(--primaryClr-100);
    font-size: var(--ft-14);

    .footer {
      @include flex-element;
      gap: 2rem;
    }

    small {
      @include flex-element;
      gap: 0.5rem;
    }

    a {
      color: var(--primaryClr-100);
    }
  }

  @media (max-width: 80rem) {
    footer {
      flex-direction: column;
      align-items: flex-start;
      .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }

      small {
        @include flex-element;
        gap: 0.5rem;
      }
    }
  }
  @media (max-width: 50rem) {
    .contact-container {
      padding: 1rem;
      a {
        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
</style>
