---
interface Props {
  label: string;
  Sub: String;
}

const { label, Sub } = Astro.props;
---

<div class="section-head">
  <span>{Sub}</span>
  <h3>{label}</h3>
</div>

<style lang="scss" is:global>
  @use "../assets/sass/mixin.scss" as *;
  @use "../assets/sass/variable.scss" as *;
  @use "../assets/sass/root.scss" as *;
  @use "../assets/sass/base.scss" as *;

  .section-head {
    @include grid-element;
    gap: 0.75rem;
    margin-bottom: 1rem;

    span {
      @include block-element;
      font-size: 0.875rem;
      padding: 0.75rem 1.5rem;
      border-radius: 5rem;
      border: 1px solid var(--primaryClr);
      background-color: var(--primaryClr-l-200);
      color: var(--primaryClr-00);
      width: max-content;
    }

    h3 {
      color: var(--primaryClr-00);
    }
  }

  .dark-section {
    h3 {
      color: var(--primaryClr);
    }
  }
</style>
