<div class="logo"></div>

<style lang="scss">
  @use "../assets/sass/mixin.scss" as *;
  @use "../assets/sass/variable.scss" as *;
  @use "../assets/sass/root.scss" as *;
  @use "../assets/sass/base.scss" as *;

  .logo {
    width: 150px;
    height: 50px;
    background-image: url("./src/assets/image/logo-clr.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
