<div class="logo">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="336"
    height="91"
    viewBox="0 0 336 91"
    fill="none"
  >
    <g clip-path="url(#clip0_193_2)">
      <path
        d="M151.405 54.2237H146.223L129.14 31.4785C128.948 31.2866 128.756 30.9987 128.468 30.6148C128.18 30.1349 127.892 29.6551 127.508 29.1752C127.22 28.5994 126.836 28.1195 126.549 27.6397C126.261 27.0639 126.069 26.68 125.877 26.3921V54.2237H120.982V19.1942H126.549L142.864 41.1716C143.152 41.5555 143.439 41.9394 143.823 42.5152C144.207 42.9951 144.591 43.5709 144.879 44.1467C145.263 44.6266 145.551 45.2024 145.839 45.6823C146.127 46.1621 146.415 46.546 146.511 46.9299V19.1942H151.405V54.2237Z"
        fill="#FEFEFE"></path>
      <path
        d="M172.903 44.0507C172.519 43.9548 172.039 43.9548 171.559 43.9548C171.079 43.8588 170.503 43.8588 169.928 43.8588C168.776 43.8588 167.72 44.0507 166.952 44.2427C166.185 44.4346 165.609 44.7225 165.129 45.1064C164.649 45.4903 164.361 45.8742 164.169 46.2581C163.977 46.7379 163.881 47.2178 163.881 47.6977C163.881 48.6574 164.169 49.4251 164.745 49.905C165.225 50.5768 166.089 50.8647 167.048 50.8647C168.008 50.8647 169.064 50.5768 170.119 50.0969C171.175 49.713 172.135 49.0412 172.903 48.3695V44.0507ZM177.893 54.7036C177.221 54.7036 176.645 54.6076 176.166 54.5116C175.686 54.3197 175.206 54.1277 174.918 53.9358C174.534 53.6479 174.246 53.36 173.958 53.072C173.766 52.6882 173.478 52.3043 173.382 51.9204C172.519 52.6882 171.463 53.36 170.311 53.8398C169.16 54.4156 167.72 54.7036 166.089 54.7036C164.841 54.7036 163.785 54.5116 162.826 54.2237C161.866 53.8398 161.098 53.36 160.426 52.7841C159.851 52.1123 159.371 51.4405 159.083 50.5768C158.699 49.809 158.603 48.8493 158.603 47.8896C158.603 45.4903 159.467 43.6669 161.386 42.3233C163.21 41.0756 165.897 40.4038 169.544 40.4038C170.119 40.4038 170.599 40.4038 171.175 40.4038C171.751 40.4998 172.327 40.4998 172.903 40.5958C172.903 38.9643 172.615 37.6207 171.847 36.7569C171.175 35.8932 170.119 35.5093 168.488 35.5093C167.432 35.5093 166.281 35.6053 165.033 35.8932C163.881 36.1811 162.73 36.565 161.578 37.0448V33.0141C162.634 32.5342 163.785 32.1503 165.033 31.8624C166.281 31.6705 167.528 31.4785 168.68 31.4785C170.215 31.4785 171.559 31.6705 172.807 31.9584C173.958 32.2463 174.918 32.7261 175.686 33.3979C176.55 34.0697 177.125 35.0295 177.509 36.1811C177.893 37.3328 178.085 38.6764 178.085 40.4038V48.9453C178.085 49.6171 178.277 50.0969 178.661 50.3848C178.949 50.6728 179.333 50.8647 179.717 50.8647C180.004 50.8647 180.388 50.7687 180.676 50.7687C180.964 50.7687 181.348 50.6728 181.732 50.5768V53.7438C181.252 54.0318 180.772 54.3197 180.1 54.4156C179.429 54.6076 178.661 54.7036 177.893 54.7036Z"
        fill="#FEFEFE"></path>
      <path d="M191.521 54.2237H186.339V19.1942H191.521V54.2237Z" fill="#FEFEFE"
      ></path>
      <path
        d="M205.821 25.6243C205.821 26.1042 205.725 26.4881 205.533 26.776C205.341 27.1599 205.053 27.4478 204.765 27.7357C204.477 27.9276 204.189 28.1196 203.709 28.2156C203.325 28.4075 202.942 28.4075 202.462 28.4075C201.598 28.4075 200.83 28.2156 200.254 27.7357C199.583 27.2558 199.295 26.584 199.295 25.6243C199.295 24.7606 199.583 24.0888 200.254 23.6089C200.83 23.1291 201.598 22.9371 202.462 22.9371C202.942 22.9371 203.325 22.9371 203.709 23.1291C204.189 23.225 204.477 23.417 204.765 23.6089C205.053 23.8968 205.341 24.1848 205.533 24.4727C205.725 24.8566 205.821 25.2404 205.821 25.6243ZM205.053 54.2238H199.871V31.9584H205.053V54.2238Z"
        fill="#FEFEFE"></path>
      <path
        d="M232.501 31.9584L222.616 54.2237H218.489L209.468 31.9584H214.842L219.833 45.3943C220.024 45.8742 220.216 46.45 220.312 46.9299C220.504 47.5057 220.696 48.0815 220.792 48.5614C220.888 48.2735 220.984 47.9856 221.08 47.6977C221.176 47.3138 221.272 47.0259 221.368 46.7379C221.464 46.45 221.56 46.1621 221.656 45.9702C221.752 45.6823 221.848 45.4903 221.944 45.2984C222.328 44.2427 222.712 43.187 223.192 42.0354C223.575 40.8837 224.055 39.732 224.535 38.5804C225.015 37.4287 225.399 36.3731 225.879 35.2214C226.359 34.0697 226.838 33.0141 227.222 31.9584H232.501Z"
        fill="#FEFEFE"></path>
      <path
        d="M249.296 44.0507C248.912 43.9548 248.432 43.9548 247.952 43.9548C247.472 43.8588 246.896 43.8588 246.321 43.8588C245.169 43.8588 244.113 44.0507 243.345 44.2427C242.578 44.4346 242.002 44.7225 241.522 45.1064C241.042 45.4903 240.754 45.8742 240.562 46.2581C240.37 46.7379 240.274 47.2178 240.274 47.6977C240.274 48.6574 240.562 49.4251 241.138 49.905C241.618 50.5768 242.482 50.8647 243.441 50.8647C244.401 50.8647 245.457 50.5768 246.513 50.0969C247.568 49.713 248.528 49.0412 249.296 48.3695V44.0507ZM254.286 54.7036C253.614 54.7036 253.039 54.6076 252.559 54.5116C252.079 54.3197 251.599 54.1277 251.311 53.9358C250.927 53.6479 250.639 53.36 250.351 53.072C250.159 52.6882 249.872 52.3043 249.776 51.9204C248.912 52.6882 247.856 53.36 246.704 53.8398C245.553 54.4156 244.113 54.7036 242.482 54.7036C241.234 54.7036 240.178 54.5116 239.219 54.2237C238.259 53.8398 237.491 53.36 236.819 52.7841C236.244 52.1123 235.764 51.4405 235.476 50.5768C235.092 49.809 234.996 48.8493 234.996 47.8896C234.996 45.4903 235.86 43.6669 237.779 42.3233C239.603 41.0756 242.386 40.4038 245.937 40.4038C246.513 40.4038 246.992 40.4038 247.568 40.4038C248.144 40.4998 248.72 40.4998 249.296 40.5958C249.296 38.9643 249.008 37.6207 248.24 36.7569C247.568 35.8932 246.513 35.5093 244.881 35.5093C243.825 35.5093 242.674 35.6053 241.426 35.8932C240.274 36.1811 239.123 36.565 237.971 37.0448V33.0141C239.027 32.5342 240.178 32.1503 241.426 31.8624C242.674 31.6705 243.921 31.4785 245.073 31.4785C246.608 31.4785 247.952 31.6705 249.2 31.9584C250.351 32.2463 251.311 32.7261 252.079 33.3979C252.943 34.0697 253.518 35.0295 253.902 36.1811C254.286 37.3328 254.478 38.6764 254.478 40.4038V48.9453C254.478 49.6171 254.67 50.0969 255.054 50.3848C255.342 50.6728 255.726 50.8647 256.11 50.8647C256.398 50.8647 256.781 50.7687 257.069 50.7687C257.357 50.7687 257.741 50.6728 258.125 50.5768V53.7438C257.645 54.0318 257.165 54.3197 256.494 54.4156C255.822 54.6076 255.054 54.7036 254.286 54.7036Z"
        fill="#FEFEFE"></path>
      <path
        d="M282.79 54.2237H277.607V40.4038C277.607 38.8683 277.223 37.7166 276.648 36.8529C275.976 35.9892 275.016 35.6053 273.672 35.6053C273.097 35.6053 272.521 35.7012 272.041 35.7972C271.465 35.9892 270.889 36.1811 270.409 36.373C269.93 36.661 269.546 36.8529 269.066 37.2368C268.682 37.5247 268.298 37.8126 267.914 38.1005V54.2237H262.732V31.9584H267.722L267.914 34.1657C268.298 33.8778 268.682 33.4939 269.162 33.206C269.642 32.8221 270.217 32.5342 270.793 32.3423C271.273 32.0543 271.945 31.8624 272.617 31.6705C273.289 31.5745 273.96 31.4785 274.728 31.4785C277.415 31.4785 279.527 32.2463 280.774 33.6859C282.118 35.2214 282.79 37.3328 282.79 40.1159V54.2237Z"
        fill="#FEFEFE"></path>
      <path
        d="M294.306 43.3789C294.306 44.6266 294.498 45.6823 294.786 46.642C295.17 47.5057 295.65 48.2735 296.226 48.8493C296.802 49.4251 297.473 49.905 298.241 50.0969C299.009 50.3848 299.777 50.5768 300.64 50.5768C302.176 50.5768 303.615 50.2889 304.863 49.809C306.111 49.4251 307.262 48.8493 308.414 48.1775V52.4002C307.358 53.168 306.111 53.7438 304.767 54.1277C303.424 54.5116 301.888 54.7036 300.16 54.7036C298.529 54.7036 296.993 54.4156 295.65 53.9358C294.306 53.4559 293.155 52.6882 292.099 51.6325C291.139 50.6728 290.371 49.5211 289.892 48.0815C289.316 46.7379 289.028 45.1064 289.028 43.283C289.028 41.3636 289.316 39.6361 289.988 38.1965C290.659 36.7569 291.523 35.5093 292.675 34.4536C293.73 33.4939 294.978 32.7261 296.514 32.2463C297.953 31.7664 299.489 31.4785 301.216 31.4785C302.368 31.4785 303.615 31.6705 304.863 31.9584C306.207 32.2463 307.358 32.7261 308.414 33.3979V37.8126C307.262 37.1408 306.111 36.565 304.863 36.1811C303.711 35.7972 302.464 35.6053 301.12 35.6053C300.256 35.6053 299.393 35.7972 298.529 36.0851C297.665 36.373 296.993 36.7569 296.322 37.4287C295.746 38.0046 295.17 38.8683 294.882 39.828C294.498 40.7877 294.306 41.9394 294.306 43.3789Z"
        fill="#FEFEFE"></path>
      <path
        d="M324.921 35.5093C323.194 35.5093 321.754 35.9892 320.698 36.8529C319.547 37.7166 318.875 38.9643 318.491 40.6918H330.2C330.2 38.9643 329.624 37.7166 328.76 36.8529C327.8 35.9892 326.553 35.5093 324.921 35.5093ZM313.309 42.9951C313.309 41.2676 313.597 39.6361 314.172 38.2925C314.748 36.8529 315.516 35.6053 316.572 34.6456C317.531 33.5899 318.779 32.8221 320.219 32.3423C321.658 31.7664 323.194 31.4785 325.017 31.4785C326.649 31.4785 328.184 31.7664 329.528 32.2463C330.775 32.7261 331.831 33.3979 332.791 34.3577C333.654 35.2214 334.326 36.373 334.71 37.7166C335.19 39.0602 335.382 40.5958 335.382 42.2273V44.4346H318.395C318.491 45.3943 318.683 46.2581 319.067 47.0259C319.547 47.7936 320.027 48.4654 320.698 49.0412C321.37 49.6171 322.138 50.001 323.002 50.3848C323.865 50.6728 324.921 50.8647 325.977 50.8647C326.553 50.8647 327.224 50.7687 327.992 50.6728C328.664 50.4808 329.432 50.3848 330.2 50.0969C330.967 49.905 331.639 49.6171 332.407 49.3292C333.175 48.9453 333.846 48.5614 334.614 48.1775V52.3043C333.175 53.072 331.735 53.6479 330.2 54.0318C328.664 54.5116 326.937 54.7036 325.017 54.7036C323.194 54.7036 321.562 54.4156 320.123 53.9358C318.683 53.36 317.531 52.5922 316.476 51.6325C315.516 50.5768 314.652 49.3292 314.172 47.8896C313.597 46.45 313.309 44.8185 313.309 42.9951Z"
        fill="#FEFEFE"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M68.39 69.6751C70.3094 66.7 72.9966 59.7901 74.0523 52.6882C74.0523 52.6882 73.9563 52.7842 73.9563 52.8802L68.0061 35.7973L57.3533 9.7891C52.8426 7.86967 43.7254 7.1019 36.6235 16.3151L26.4506 54.2238L42.9576 57.7747L48.7159 34.2618L63.9753 67.8517C65.4149 68.6195 66.9504 69.1953 68.39 69.6751Z"
        fill="url(#paint0_linear_193_2)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M74.0523 52.6882C72.9966 59.7901 70.3094 66.7 68.39 69.6751C75.012 71.4986 81.634 69.7711 85.9527 68.6194C94.3982 52.9761 89.0238 33.8778 97.7572 16.699L103.995 11.0367C98.525 21.3056 100.444 33.494 96.7015 40.5958C108.89 40.4999 111.193 34.1658 113.017 29.4632C114.552 20.4419 110.042 8.06158 119.447 0C110.042 0.479856 96.0297 2.78317 85.4729 12.7642C75.108 21.4016 79.7146 41.3636 74.0523 52.6882Z"
        fill="url(#paint1_linear_193_2)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0.0584717 72.5543C0.0584717 72.5543 12.1508 61.2297 32.6887 71.4986C53.2265 81.7675 57.2573 82.8232 59.7526 83.7829C74.8201 89.1573 92.8626 70.059 90.3674 70.9227C61.576 81.4796 53.6104 65.8363 37.6792 61.1337C26.3546 57.7747 4.66509 58.6384 0.0584717 72.5543Z"
        fill="url(#paint2_linear_193_2)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M20.2125 73.1301L36.0477 77.7367C26.9305 92.5163 2.84168 91.7485 2.26585 88.9654C1.40211 84.5507 20.5964 87.5258 20.2125 73.1301Z"
        fill="url(#paint3_linear_193_2)"></path>
      <path
        d="M124.437 67.7557C124.437 67.5637 124.437 67.4677 124.341 67.3718C124.341 67.2758 124.245 67.1798 124.149 67.0839C124.053 66.9879 123.861 66.9879 123.669 66.8919C123.477 66.8919 123.286 66.8919 122.998 66.8919H122.71V68.8113H122.998C123.477 68.8113 123.765 68.7154 124.053 68.5234C124.341 68.3315 124.437 68.1395 124.437 67.7557ZM125.397 67.6597C125.397 67.9476 125.301 68.2355 125.205 68.4275C125.109 68.7154 124.917 68.9073 124.725 69.0993C124.533 69.1952 124.245 69.3872 123.861 69.4831C123.573 69.5791 123.19 69.5791 122.71 69.5791V71.9784H121.846V66.1241H122.998C123.381 66.1241 123.669 66.1241 123.957 66.1241C124.245 66.2201 124.533 66.3161 124.725 66.4121C124.917 66.604 125.109 66.7 125.205 66.8919C125.301 67.1798 125.397 67.3718 125.397 67.6597Z"
        fill="#FEFEFE"></path>
      <path
        d="M129.812 67.6597C129.812 67.3718 129.716 67.1798 129.524 67.0839C129.332 66.8919 129.044 66.8919 128.564 66.8919H128.084V68.6194H128.564C128.948 68.6194 129.332 68.5234 129.524 68.4275C129.716 68.2355 129.812 67.9476 129.812 67.6597ZM131.251 71.9784H130.195L128.564 69.3872H128.084V71.9784H127.22V66.1241H128.564C128.852 66.1241 129.14 66.1241 129.428 66.1241C129.716 66.2201 129.908 66.3161 130.099 66.4121C130.387 66.508 130.483 66.7 130.579 66.8919C130.771 67.0839 130.771 67.3718 130.771 67.6597C130.771 67.8516 130.771 68.0436 130.675 68.2355C130.579 68.4275 130.483 68.5234 130.387 68.7154C130.195 68.8113 130.099 68.9073 129.908 69.0033C129.812 69.0993 129.62 69.1952 129.428 69.1952L131.251 71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M135.762 71.9784H132.787V66.1241H135.762V66.8919H133.746V68.6194H135.762V69.3872H133.746V71.2106H135.762V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M138.449 69.0993C138.449 69.3872 138.449 69.7711 138.545 69.963C138.641 70.2509 138.833 70.5388 139.025 70.7308C139.121 70.9227 139.409 71.0187 139.601 71.1147C139.889 71.3066 140.176 71.3066 140.464 71.3066C140.752 71.3066 140.944 71.3066 141.232 71.2106C141.52 71.1147 141.808 71.0187 142 70.9227V71.6905C141.808 71.7865 141.52 71.8824 141.232 71.9784C140.944 72.0744 140.656 72.0744 140.368 72.0744C139.889 72.0744 139.505 71.9784 139.217 71.8824C138.833 71.6905 138.545 71.4986 138.257 71.2106C138.065 71.0187 137.873 70.6348 137.681 70.3469C137.585 69.963 137.489 69.5791 137.489 69.0993C137.489 68.6194 137.585 68.2355 137.777 67.8517C137.873 67.4678 138.065 67.1799 138.353 66.8919C138.641 66.604 138.929 66.4121 139.313 66.2201C139.601 66.1242 140.08 66.0282 140.464 66.0282C140.56 66.0282 140.752 66.0282 140.848 66.0282C141.04 66.0282 141.136 66.1242 141.328 66.1242C141.424 66.1242 141.616 66.1242 141.712 66.2201C141.808 66.2201 142 66.3161 142.096 66.3161V67.1799C142 67.0839 141.808 67.0839 141.712 66.9879C141.616 66.9879 141.424 66.8919 141.328 66.8919C141.136 66.796 141.04 66.796 140.848 66.796C140.752 66.796 140.56 66.796 140.464 66.796C140.176 66.796 139.889 66.796 139.697 66.8919C139.409 67.0839 139.217 67.1799 139.025 67.3718C138.833 67.5637 138.737 67.8517 138.641 68.1396C138.449 68.4275 138.449 68.7154 138.449 69.0993Z"
        fill="#FEFEFE"></path>
      <path d="M144.879 71.9784H144.015V66.1241H144.879V71.9784Z" fill="#FEFEFE"
      ></path>
      <path
        d="M150.349 70.3469C150.349 70.5388 150.349 70.8268 150.253 71.0187C150.157 71.2106 150.061 71.4026 149.87 71.5945C149.774 71.6905 149.582 71.8824 149.294 71.9784C149.102 71.9784 148.814 72.0744 148.43 72.0744C148.334 72.0744 148.142 72.0744 147.95 72.0744C147.854 71.9784 147.662 71.9784 147.566 71.9784C147.374 71.8824 147.278 71.8824 147.182 71.7865C147.086 71.7865 146.99 71.6905 146.894 71.6905V70.7308C146.99 70.8268 147.086 70.9227 147.182 70.9227C147.374 71.0187 147.47 71.1147 147.662 71.1147C147.758 71.2106 147.95 71.2106 148.046 71.3066C148.238 71.3066 148.334 71.3066 148.43 71.3066C148.622 71.3066 148.814 71.3066 148.91 71.2106C149.006 71.2106 149.198 71.1147 149.198 71.0187C149.294 71.0187 149.39 70.9227 149.486 70.7308C149.486 70.6348 149.486 70.5388 149.486 70.3469C149.486 70.2509 149.486 70.155 149.39 69.963C149.39 69.867 149.294 69.7711 149.198 69.7711C149.102 69.6751 149.006 69.5791 148.814 69.4832C148.622 69.4832 148.526 69.3872 148.334 69.2912C148.046 69.1952 147.854 69.0993 147.662 69.0033C147.47 68.9073 147.278 68.8114 147.182 68.7154C147.086 68.5234 146.99 68.4275 146.894 68.2355C146.798 68.0436 146.798 67.8517 146.798 67.6597C146.798 67.3718 146.798 67.1799 146.894 66.9879C146.99 66.796 147.182 66.604 147.374 66.4121C147.566 66.3161 147.758 66.2201 147.95 66.1242C148.142 66.0282 148.43 66.0282 148.718 66.0282C149.006 66.0282 149.198 66.0282 149.486 66.1242C149.678 66.1242 149.87 66.2201 150.061 66.3161V67.0839C149.966 67.0839 149.87 66.9879 149.774 66.9879C149.678 66.9879 149.582 66.8919 149.39 66.8919C149.294 66.8919 149.198 66.796 149.006 66.796C148.91 66.796 148.814 66.796 148.718 66.796C148.526 66.796 148.334 66.796 148.238 66.796C148.142 66.8919 148.046 66.8919 147.95 66.9879C147.854 67.0839 147.758 67.1799 147.758 67.2758C147.662 67.3718 147.662 67.4678 147.662 67.5637C147.662 67.7557 147.662 67.8517 147.758 67.9476C147.854 68.0436 147.854 68.1396 147.95 68.2355C148.142 68.3315 148.238 68.3315 148.334 68.4275C148.526 68.5234 148.718 68.5234 148.91 68.6194C149.102 68.7154 149.294 68.8114 149.486 68.9073C149.678 69.0033 149.87 69.1952 149.966 69.2912C150.157 69.3872 150.253 69.5791 150.253 69.7711C150.349 69.867 150.349 70.155 150.349 70.3469Z"
        fill="#FEFEFE"></path>
      <path d="M153.133 71.9784H152.269V66.1241H153.133V71.9784Z" fill="#FEFEFE"
      ></path>
      <path
        d="M159.755 69.0993C159.755 68.7154 159.755 68.3315 159.659 68.1396C159.563 67.8517 159.467 67.5637 159.275 67.3718C159.179 67.1799 158.987 66.9879 158.699 66.8919C158.507 66.796 158.219 66.796 157.931 66.796C157.643 66.796 157.355 66.796 157.163 66.8919C156.971 67.0839 156.779 67.1799 156.588 67.3718C156.396 67.5637 156.3 67.8517 156.204 68.1396C156.108 68.4275 156.012 68.7154 156.012 69.0033C156.012 69.3872 156.108 69.6751 156.204 69.963C156.3 70.2509 156.396 70.5388 156.588 70.7308C156.683 70.9227 156.875 71.0187 157.163 71.1147C157.355 71.3066 157.643 71.3066 157.931 71.3066C158.219 71.3066 158.411 71.3066 158.699 71.1147C158.891 71.0187 159.083 70.9227 159.275 70.7308C159.467 70.5388 159.563 70.2509 159.659 69.963C159.755 69.7711 159.755 69.3872 159.755 69.0993ZM160.714 69.0033C160.714 69.4832 160.618 69.867 160.522 70.2509C160.33 70.6348 160.234 70.9227 159.947 71.2106C159.659 71.4986 159.371 71.6905 159.083 71.8824C158.699 71.9784 158.315 72.0744 157.931 72.0744C157.451 72.0744 157.067 71.9784 156.779 71.8824C156.396 71.6905 156.108 71.4986 155.916 71.2106C155.628 71.0187 155.436 70.7308 155.34 70.3469C155.148 69.963 155.148 69.5791 155.148 69.0993C155.148 68.6194 155.148 68.2355 155.34 67.8517C155.436 67.4678 155.628 67.0839 155.916 66.8919C156.108 66.604 156.396 66.4121 156.779 66.2201C157.163 66.1242 157.547 66.0282 158.027 66.0282C158.411 66.0282 158.795 66.1242 159.083 66.2201C159.467 66.4121 159.755 66.604 159.947 66.796C160.234 67.0839 160.33 67.3718 160.522 67.7557C160.618 68.1396 160.714 68.5234 160.714 69.0033Z"
        fill="#FEFEFE"></path>
      <path
        d="M167.816 71.9784H166.952L164.073 68.1395C163.977 68.1395 163.977 68.0436 163.881 68.0436C163.881 67.9476 163.785 67.8516 163.785 67.7557C163.689 67.6597 163.689 67.5637 163.593 67.4677C163.593 67.4677 163.497 67.3718 163.497 67.2758V71.9784H162.634V66.1241H163.593L166.377 69.7711C166.377 69.867 166.473 69.963 166.473 70.059C166.568 70.059 166.664 70.1549 166.664 70.2509C166.76 70.3469 166.76 70.4429 166.856 70.5388C166.856 70.6348 166.952 70.7308 166.952 70.7308V66.1241H167.816V71.9784Z"
        fill="#FEFEFE"></path>
      <path d="M172.903 71.9784H171.943V66.1241H172.903V71.9784Z" fill="#FEFEFE"
      ></path>
      <path
        d="M180.292 71.9784H179.429L176.55 68.1395C176.454 68.1395 176.454 68.0436 176.454 68.0436C176.358 67.9476 176.262 67.8516 176.262 67.7557C176.166 67.6597 176.166 67.5637 176.07 67.4677C176.07 67.4677 175.974 67.3718 175.974 67.2758V71.9784H175.11V66.1241H176.07L178.853 69.7711C178.853 69.867 178.949 69.963 178.949 70.059C179.045 70.059 179.141 70.1549 179.141 70.2509C179.237 70.3469 179.333 70.4429 179.333 70.5388C179.429 70.6348 179.429 70.7308 179.429 70.7308V66.1241H180.292V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M185.955 66.8919H184.419V71.9784H183.555V66.8919H182.116V66.1241H185.955V66.8919Z"
        fill="#FEFEFE"></path>
      <path
        d="M190.657 71.9784H187.778V66.1241H190.657V66.8919H188.642V68.6194H190.657V69.3872H188.642V71.2106H190.657V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M195.552 71.9784H192.769V66.1241H193.632V71.2106H195.552V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M200.158 71.9784H197.375V66.1241H198.239V71.2106H200.158V71.9784Z"
        fill="#FEFEFE"></path>
      <path d="M202.846 71.9784H201.886V66.1241H202.846V71.9784Z" fill="#FEFEFE"
      ></path>
      <path
        d="M205.725 69.0993C205.725 69.3872 205.725 69.6751 205.821 69.963C205.917 70.2509 206.109 70.4429 206.205 70.6348C206.397 70.9227 206.685 71.0187 206.877 71.1147C207.164 71.2106 207.452 71.3066 207.836 71.3066C208.028 71.3066 208.22 71.3066 208.412 71.2106C208.604 71.2106 208.796 71.1147 208.988 71.1147V69.7711H207.644V69.0033H209.852V71.4986C209.564 71.6905 209.276 71.8824 208.892 71.9784C208.508 71.9784 208.124 72.0744 207.74 72.0744C207.26 72.0744 206.877 71.9784 206.493 71.8824C206.109 71.6905 205.821 71.4986 205.533 71.2106C205.341 70.9227 205.149 70.6348 204.957 70.2509C204.861 69.963 204.765 69.5791 204.765 69.0993C204.765 68.6194 204.861 68.2355 205.053 67.8517C205.149 67.4678 205.437 67.0839 205.725 66.796C206.013 66.604 206.301 66.4121 206.685 66.2201C207.068 66.1242 207.452 66.0282 207.932 66.0282C208.316 66.0282 208.604 66.0282 208.988 66.1242C209.276 66.2201 209.564 66.4121 209.852 66.5081V67.4678C209.756 67.3718 209.564 67.2758 209.468 67.1799C209.276 67.0839 209.084 66.9879 208.892 66.9879C208.796 66.8919 208.604 66.8919 208.412 66.796C208.22 66.796 208.028 66.796 207.932 66.796C207.548 66.796 207.26 66.796 206.972 66.8919C206.685 67.0839 206.493 67.1799 206.301 67.3718C206.109 67.5637 206.013 67.8517 205.917 68.1396C205.725 68.4275 205.725 68.7154 205.725 69.0993Z"
        fill="#FEFEFE"></path>
      <path
        d="M214.938 71.9784H212.059V66.1241H214.938V66.8919H212.923V68.6194H214.938V69.3872H212.923V71.2106H214.938V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M222.136 71.9784H221.272L218.393 68.1395L218.297 68.0436C218.201 67.9476 218.201 67.8516 218.105 67.7557C218.105 67.6597 218.009 67.5637 218.009 67.4677C217.913 67.4677 217.913 67.3718 217.817 67.2758V71.9784H217.049V66.1241H218.009L220.696 69.7711C220.792 69.867 220.792 69.963 220.888 70.059C220.888 70.059 220.984 70.1549 221.08 70.2509C221.08 70.3469 221.176 70.4429 221.176 70.5388C221.272 70.6348 221.272 70.7308 221.368 70.7308V66.1241H222.136V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M225.015 69.0993C225.015 69.3872 225.111 69.7711 225.207 69.963C225.303 70.2509 225.399 70.5388 225.591 70.7308C225.783 70.9227 225.975 71.0187 226.263 71.1147C226.455 71.3066 226.742 71.3066 227.03 71.3066C227.318 71.3066 227.606 71.3066 227.894 71.2106C228.086 71.1147 228.374 71.0187 228.662 70.9227V71.6905C228.374 71.7865 228.182 71.8824 227.894 71.9784C227.606 72.0744 227.318 72.0744 226.934 72.0744C226.551 72.0744 226.167 71.9784 225.783 71.8824C225.495 71.6905 225.111 71.4986 224.919 71.2106C224.631 71.0187 224.439 70.6348 224.343 70.3469C224.151 69.963 224.151 69.5791 224.151 69.0993C224.151 68.6194 224.151 68.2355 224.343 67.8517C224.439 67.4678 224.727 67.1799 224.919 66.8919C225.207 66.604 225.495 66.4121 225.879 66.2201C226.263 66.1242 226.646 66.0282 227.03 66.0282C227.222 66.0282 227.318 66.0282 227.51 66.0282C227.606 66.0282 227.798 66.1242 227.894 66.1242C228.086 66.1242 228.182 66.1242 228.278 66.2201C228.47 66.2201 228.566 66.3161 228.662 66.3161V67.1799C228.566 67.0839 228.47 67.0839 228.278 66.9879C228.182 66.9879 228.086 66.8919 227.894 66.8919C227.798 66.796 227.606 66.796 227.51 66.796C227.318 66.796 227.222 66.796 227.03 66.796C226.742 66.796 226.551 66.796 226.263 66.8919C225.975 67.0839 225.783 67.1799 225.591 67.3718C225.495 67.5637 225.303 67.8517 225.207 68.1396C225.111 68.4275 225.015 68.7154 225.015 69.0993Z"
        fill="#FEFEFE"></path>
      <path
        d="M233.556 71.9784H230.581V66.1241H233.556V66.8919H231.445V68.6194H233.556V69.3872H231.445V71.2106H233.556V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M236.436 71.1146C236.436 71.2106 236.34 71.4025 236.244 71.5945C236.244 71.7864 236.148 71.9784 236.052 72.1703C235.956 72.3622 235.86 72.5542 235.764 72.7461C235.668 72.8421 235.668 73.034 235.572 73.226H234.9C234.9 73.034 234.996 72.8421 234.996 72.6502C235.092 72.4582 235.092 72.3622 235.188 72.1703C235.188 71.9784 235.284 71.7864 235.284 71.5945C235.38 71.4025 235.38 71.2106 235.38 71.1146H236.436Z"
        fill="#FEFEFE"></path>
      <path
        d="M243.058 71.9784H240.274V66.1241H241.138V71.2106H243.058V71.9784Z"
        fill="#FEFEFE"></path>
      <path d="M245.745 71.9784H244.881V66.1241H245.745V71.9784Z" fill="#FEFEFE"
      ></path>
      <path
        d="M254.19 71.9784H253.423L253.231 68.1395C253.231 68.1395 253.231 68.0436 253.231 67.9476C253.231 67.9476 253.231 67.8516 253.231 67.7557C253.231 67.6597 253.231 67.6597 253.231 67.5637C253.231 67.4677 253.231 67.4677 253.231 67.3718C253.135 67.4677 253.135 67.5637 253.135 67.6597C253.135 67.6597 253.039 67.7557 253.039 67.8516C253.039 67.9476 253.039 67.9476 253.039 68.0436C252.943 68.0436 252.943 68.1395 252.943 68.1395L251.503 71.9784H250.639L249.2 68.1395L249.104 68.0436C249.104 67.9476 249.104 67.8516 249.104 67.8516C249.008 67.7557 249.008 67.6597 249.008 67.5637C249.008 67.5637 248.912 67.4677 248.912 67.3718C248.912 67.4677 248.912 67.4677 248.912 67.5637C248.912 67.6597 248.912 67.7557 248.912 67.7557C248.912 67.8516 248.912 67.9476 248.912 67.9476C248.912 68.0436 248.912 68.1395 248.912 68.1395L248.624 71.9784H247.856L248.24 66.1241H249.2L250.927 70.4429V70.5388C250.927 70.6348 251.023 70.7308 251.023 70.7308C251.023 70.8267 251.023 70.9227 251.023 70.9227C251.023 71.0187 251.119 71.0187 251.119 71.1146C251.119 71.0187 251.119 71.0187 251.119 70.9227C251.119 70.8267 251.119 70.8267 251.215 70.7308C251.215 70.6348 251.215 70.6348 251.215 70.5388C251.215 70.5388 251.215 70.4429 251.311 70.4429L252.943 66.1241H253.998L254.19 71.9784Z"
        fill="#FEFEFE"></path>
      <path d="M257.261 71.9784H256.398V66.1241H257.261V71.9784Z" fill="#FEFEFE"
      ></path>
      <path
        d="M262.924 66.8919H261.484V71.9784H260.62V66.8919H259.085V66.1241H262.924V66.8919Z"
        fill="#FEFEFE"></path>
      <path
        d="M267.626 71.9784H264.747V66.1241H265.707V71.2106H267.626V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M272.329 71.9784H269.354V66.1241H272.329V66.8919H270.218V68.6194H272.329V69.3872H270.218V71.2106H272.329V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M277.607 70.3469C277.607 70.5388 277.607 70.8268 277.511 71.0187C277.415 71.2106 277.319 71.4026 277.127 71.5945C276.935 71.6905 276.743 71.8824 276.552 71.9784C276.264 71.9784 275.976 72.0744 275.688 72.0744C275.496 72.0744 275.4 72.0744 275.208 72.0744C275.016 71.9784 274.92 71.9784 274.728 71.9784C274.632 71.8824 274.536 71.8824 274.344 71.7865C274.248 71.7865 274.152 71.6905 274.056 71.6905V70.7308C274.152 70.8268 274.248 70.9227 274.44 70.9227C274.536 71.0187 274.728 71.1147 274.824 71.1147C275.016 71.2106 275.112 71.2106 275.304 71.3066C275.4 71.3066 275.592 71.3066 275.688 71.3066C275.88 71.3066 275.976 71.3066 276.168 71.2106C276.264 71.2106 276.36 71.1147 276.456 71.0187C276.552 71.0187 276.648 70.9227 276.648 70.7308C276.743 70.6348 276.743 70.5388 276.743 70.3469C276.743 70.2509 276.743 70.155 276.648 69.963C276.552 69.867 276.552 69.7711 276.36 69.7711C276.264 69.6751 276.168 69.5791 276.072 69.4832C275.88 69.4832 275.688 69.3872 275.592 69.2912C275.304 69.1952 275.112 69.0993 274.92 69.0033C274.728 68.9073 274.536 68.8114 274.44 68.7154C274.248 68.5234 274.152 68.4275 274.152 68.2355C274.056 68.0436 273.96 67.8517 273.96 67.6597C273.96 67.3718 274.056 67.1799 274.152 66.9879C274.248 66.796 274.344 66.604 274.536 66.4121C274.728 66.3161 274.92 66.2201 275.208 66.1242C275.4 66.0282 275.688 66.0282 275.88 66.0282C276.168 66.0282 276.456 66.0282 276.648 66.1242C276.935 66.1242 277.127 66.2201 277.319 66.3161V67.0839C277.223 67.0839 277.127 66.9879 277.031 66.9879C276.839 66.9879 276.743 66.8919 276.648 66.8919C276.552 66.8919 276.36 66.796 276.264 66.796C276.168 66.796 275.976 66.796 275.88 66.796C275.688 66.796 275.592 66.796 275.496 66.796C275.304 66.8919 275.208 66.8919 275.112 66.9879C275.016 67.0839 275.016 67.1799 274.92 67.2758C274.92 67.3718 274.92 67.4678 274.92 67.5637C274.92 67.7557 274.92 67.8517 275.016 67.9476C275.016 68.0436 275.112 68.1396 275.208 68.2355C275.304 68.3315 275.496 68.3315 275.592 68.4275C275.784 68.5234 275.88 68.5234 276.072 68.6194C276.36 68.7154 276.552 68.8114 276.743 68.9073C276.935 69.0033 277.127 69.1952 277.223 69.2912C277.319 69.3872 277.415 69.5791 277.511 69.7711C277.607 69.867 277.607 70.155 277.607 70.3469Z"
        fill="#FEFEFE"></path>
      <path
        d="M282.79 70.3469C282.79 70.5388 282.694 70.8268 282.598 71.0187C282.502 71.2106 282.406 71.4026 282.214 71.5945C282.118 71.6905 281.926 71.8824 281.638 71.9784C281.446 71.9784 281.158 72.0744 280.774 72.0744C280.678 72.0744 280.486 72.0744 280.39 72.0744C280.199 71.9784 280.007 71.9784 279.911 71.9784C279.815 71.8824 279.623 71.8824 279.527 71.7865C279.431 71.7865 279.335 71.6905 279.239 71.6905V70.7308C279.335 70.8268 279.431 70.9227 279.527 70.9227C279.719 71.0187 279.815 71.1147 280.007 71.1147C280.103 71.2106 280.294 71.2106 280.39 71.3066C280.582 71.3066 280.678 71.3066 280.774 71.3066C280.966 71.3066 281.158 71.3066 281.254 71.2106C281.35 71.2106 281.542 71.1147 281.638 71.0187C281.734 71.0187 281.734 70.9227 281.83 70.7308C281.83 70.6348 281.83 70.5388 281.83 70.3469C281.83 70.2509 281.83 70.155 281.734 69.963C281.734 69.867 281.638 69.7711 281.542 69.7711C281.446 69.6751 281.35 69.5791 281.158 69.4832C281.062 69.4832 280.87 69.3872 280.678 69.2912C280.39 69.1952 280.199 69.0993 280.007 69.0033C279.815 68.9073 279.719 68.8114 279.527 68.7154C279.431 68.5234 279.335 68.4275 279.239 68.2355C279.143 68.0436 279.143 67.8517 279.143 67.6597C279.143 67.3718 279.143 67.1799 279.335 66.9879C279.431 66.796 279.527 66.604 279.719 66.4121C279.911 66.3161 280.103 66.2201 280.294 66.1242C280.582 66.0282 280.774 66.0282 281.062 66.0282C281.35 66.0282 281.638 66.0282 281.83 66.1242C282.022 66.1242 282.214 66.2201 282.406 66.3161V67.0839C282.31 67.0839 282.214 66.9879 282.118 66.9879C282.022 66.9879 281.926 66.8919 281.734 66.8919C281.638 66.8919 281.542 66.796 281.35 66.796C281.254 66.796 281.158 66.796 281.062 66.796C280.87 66.796 280.678 66.796 280.582 66.796C280.486 66.8919 280.39 66.8919 280.294 66.9879C280.199 67.0839 280.103 67.1799 280.103 67.2758C280.007 67.3718 280.007 67.4678 280.007 67.5637C280.007 67.7557 280.007 67.8517 280.103 67.9476C280.199 68.0436 280.199 68.1396 280.39 68.2355C280.486 68.3315 280.582 68.3315 280.774 68.4275C280.87 68.5234 281.062 68.5234 281.254 68.6194C281.446 68.7154 281.734 68.8114 281.83 68.9073C282.022 69.0033 282.214 69.1952 282.31 69.2912C282.502 69.3872 282.598 69.5791 282.694 69.7711C282.694 69.867 282.79 70.155 282.79 70.3469Z"
        fill="#FEFEFE"></path>
      <path
        d="M289.22 67.7557C289.22 67.5637 289.124 67.4677 289.124 67.3718C289.028 67.2758 288.932 67.1798 288.836 67.0839C288.74 66.9879 288.644 66.9879 288.452 66.8919C288.26 66.8919 287.972 66.8919 287.78 66.8919H287.492V68.8113H287.78C288.164 68.8113 288.548 68.7154 288.836 68.5234C289.028 68.3315 289.22 68.1395 289.22 67.7557ZM290.084 67.6597C290.084 67.9476 290.084 68.2355 289.988 68.4275C289.796 68.7154 289.7 68.9073 289.412 69.0993C289.22 69.1952 288.932 69.3872 288.644 69.4831C288.26 69.5791 287.876 69.5791 287.492 69.5791V71.9784H286.533V66.1241H287.78C288.068 66.1241 288.452 66.1241 288.74 66.1241C289.028 66.2201 289.22 66.3161 289.412 66.4121C289.7 66.604 289.796 66.7 289.988 66.8919C290.084 67.1798 290.084 67.3718 290.084 67.6597Z"
        fill="#FEFEFE"></path>
      <path
        d="M296.322 69.0993C296.322 68.7154 296.322 68.3315 296.226 68.1396C296.13 67.8517 296.034 67.5637 295.842 67.3718C295.65 67.1799 295.458 66.9879 295.266 66.8919C295.074 66.796 294.786 66.796 294.498 66.796C294.21 66.796 293.922 66.796 293.73 66.8919C293.442 67.0839 293.251 67.1799 293.155 67.3718C292.963 67.5637 292.867 67.8517 292.771 68.1396C292.675 68.4275 292.579 68.7154 292.579 69.0033C292.579 69.3872 292.675 69.6751 292.771 69.963C292.771 70.2509 292.963 70.5388 293.059 70.7308C293.251 70.9227 293.442 71.0187 293.634 71.1147C293.922 71.3066 294.114 71.3066 294.402 71.3066C294.69 71.3066 294.978 71.3066 295.266 71.1147C295.458 71.0187 295.65 70.9227 295.842 70.7308C295.938 70.5388 296.13 70.2509 296.226 69.963C296.322 69.7711 296.322 69.3872 296.322 69.0993ZM297.281 69.0033C297.281 69.4832 297.185 69.867 297.089 70.2509C296.897 70.6348 296.705 70.9227 296.514 71.2106C296.226 71.4986 295.938 71.6905 295.65 71.8824C295.266 71.9784 294.882 72.0744 294.402 72.0744C294.018 72.0744 293.634 71.9784 293.251 71.8824C292.963 71.6905 292.675 71.4986 292.387 71.2106C292.195 71.0187 292.003 70.7308 291.907 70.3469C291.715 69.963 291.715 69.5791 291.715 69.0993C291.715 68.6194 291.715 68.2355 291.907 67.8517C292.003 67.4678 292.195 67.0839 292.387 66.8919C292.675 66.604 292.963 66.4121 293.346 66.2201C293.634 66.1242 294.114 66.0282 294.498 66.0282C294.978 66.0282 295.362 66.1242 295.65 66.2201C295.938 66.4121 296.226 66.604 296.514 66.796C296.705 67.0839 296.897 67.3718 297.089 67.7557C297.185 68.1396 297.281 68.5234 297.281 69.0033Z"
        fill="#FEFEFE"></path>
      <path
        d="M302.656 66.8919H301.12V71.9784H300.256V66.8919H298.721V66.1241H302.656V66.8919Z"
        fill="#FEFEFE"></path>
      <path
        d="M307.358 71.9784H304.383V66.1241H307.358V66.8919H305.343V68.6194H307.358V69.3872H305.343V71.2106H307.358V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M314.556 71.9784H313.692L310.813 68.1395C310.717 68.1395 310.717 68.0436 310.717 68.0436C310.621 67.9476 310.525 67.8516 310.525 67.7557C310.429 67.6597 310.429 67.5637 310.333 67.4677C310.333 67.4677 310.238 67.3718 310.238 67.2758V71.9784H309.374V66.1241H310.333L313.117 69.7711C313.117 69.867 313.213 69.963 313.309 70.059C313.309 70.059 313.405 70.1549 313.405 70.2509C313.501 70.3469 313.597 70.4429 313.597 70.5388C313.692 70.6348 313.692 70.7308 313.692 70.7308V66.1241H314.556V71.9784Z"
        fill="#FEFEFE"></path>
      <path
        d="M320.218 66.8919H318.779V71.9784H317.819V66.8919H316.38V66.1241H320.218V66.8919Z"
        fill="#FEFEFE"></path>
      <path d="M322.906 71.9784H322.042V66.1241H322.906V71.9784Z" fill="#FEFEFE"
      ></path>
      <path
        d="M329.816 71.9784H328.856L328.28 70.2509H325.977L325.401 71.9784H324.441L326.649 66.1241H327.512L329.816 71.9784ZM327.224 67.4677C327.224 67.4677 327.224 67.3718 327.128 67.2758C327.128 67.2758 327.128 67.1798 327.128 67.0839C327.032 67.1798 327.032 67.2758 327.032 67.3718C327.032 67.3718 327.032 67.4677 326.936 67.5637L326.265 69.4831H327.992L327.224 67.4677Z"
        fill="#FEFEFE"></path>
      <path
        d="M334.134 71.9784H331.351V66.1241H332.215V71.2106H334.134V71.9784Z"
        fill="#FEFEFE"></path>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_193_2"
        x1="24.9256"
        y1="44.1895"
        x2="75.5878"
        y2="34.0033"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#BE7A3A"></stop>
        <stop offset="0.5" stop-color="#FBF7C0"></stop>
        <stop offset="0.89" stop-color="#EEB448"></stop>
        <stop offset="1" stop-color="#BE7A3A"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_193_2"
        x1="66.3077"
        y1="40.7761"
        x2="121.5"
        y2="29.6793"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#BE7A3A"></stop>
        <stop offset="0.5" stop-color="#FBF7C0"></stop>
        <stop offset="0.89" stop-color="#EEB448"></stop>
        <stop offset="1" stop-color="#BE7A3A"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_193_2"
        x1="4.89142"
        y1="80.2134"
        x2="85.7514"
        y2="63.9558"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#BE7A3A"></stop>
        <stop offset="0.501961" stop-color="#FBF7C0"></stop>
        <stop offset="0.890196" stop-color="#EEB448"></stop>
        <stop offset="1" stop-color="#BE7A3A"></stop>
      </linearGradient>
      <linearGradient
        id="paint3_linear_193_2"
        x1="3.35479"
        y1="85.0385"
        x2="34.8976"
        y2="78.6965"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#BE7A3A"></stop>
        <stop offset="0.5" stop-color="#FBF7C0"></stop>
        <stop offset="0.89" stop-color="#EEB448"></stop>
        <stop offset="1" stop-color="#BE7A3A"></stop>
      </linearGradient>
      <clipPath id="clip0_193_2">
        <rect width="335.44" height="90.5968" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</div>

<style lang="scss">
  @use "../assets/sass/mixin.scss" as *;
  @use "../assets/sass/variable.scss" as *;
  @use "../assets/sass/root.scss" as *;
  @use "../assets/sass/base.scss" as *;

  .logo {
    svg {
      width: 15rem;
      height: 4rem;
    }
  }

  @media (max-width: 50rem) {
    .logo {
      svg {
        width: 10rem;
        height: 3rem;
      }
    }
  }
</style>
