<nav>
  <ul role="list">
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="home">Home</a>
    </li>
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="services">Services</a>
    </li>
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="approach">Approach</a>
    </li>* /
    <li class="nav-]tem" role="listitem">
      <a class="nav-href" href="about">About</a>
    </li>
    <li role="listitem">
      <a class="nav-href" href="contact">Contact</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  @use "../assets/sass/mixin.scss" as *;
  @use "../assets/sass/variable.scss" as *;
  @use "../assets/sass/root.scss" as *;
  @use "../assets/sass/base.scss" as *;

  nav {
    @include rel-position;

    ul {
      @include flex-element;
      gap: 1rem;

      li {
        padding: 1rem 0.5rem;
      }
    }
  }
</style>
