<nav>
  <ul role="list">
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="home">Home</a>
    </li>
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="services">Services</a>
    </li>
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="approach">Approach</a>
    </li>
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="about">About</a>
    </li>
    <li class="nav-item" role="listitem">
      <a class="nav-href" href="contact">Contact</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  @use "../assets/sass/mixin.scss" as *;
  @use "../assets/sass/variable.scss" as *;
  @use "../assets/sass/root.scss" as *;
  @use "../assets/sass/base.scss" as *;

  nav {
    @include rel-position;

    ul {
      @include flex-element;
      gap: 0.5rem;

      li {
        a {
          padding: 0.5rem 0.75rem;
          background-color: transparent;
          border: 1px solid transparent;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--primaryClr-50);
          }
        }

        &.selected {
          a {
            background-color: var(--primaryClr-50);
            border-color: var(--primaryClr);
          }
        }
      }
    }
  }
</style>
