---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<h1>{label}</h1>

<style lang="scss">
  @use "../assets/sass/mixin.scss" as *;
  @use "../assets/sass/variable.scss" as *;
  @use "../assets/sass/root.scss" as *;
  @use "../assets/sass/base.scss" as *;

  h1 {
    font-size: 6rem;
    text-transform: uppercase;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 2rem 0;
  }
</style>
