---
import "../assets/sass/variable.scss";
import "../assets/sass/mixin.scss";
import "../assets/sass/base.scss";
import "../assets/sass/root.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="./src/assets/image/fav-icon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Nalivance</title>
  </head>
  <body>
    <slot />
  </body>
</html>
