:root {
  --primaryClr: #eeb448;
  --primaryClr-900: #ecac35;
  --primaryClr-800: #eaa420;
  --primaryClr-700: #e09915;
  --primaryClr-600: #cb8b13;
  --primaryClr-500: #b77d11; //For text go with 400
  --primaryClr-400: #a36f0f;
  --primaryClr-300: #8e610d;
  --primaryClr-250: #7a530b;
  --primaryClr-200: #664509;
  --primaryClr-150: #513808;
  --primaryClr-100: #3d2a06;
  --primaryClr-50: #291c04;
  --primaryClr-00: #140e02;

  --primaryClr-l-900: #efba56;
  --primaryClr-l-800: #f1bf63;
  --primaryClr-l-700: #f2c470;
  --primaryClr-l-600: #f3ca7d;
  --primaryClr-l-500: #f4cf8a;
  --primaryClr-l-400: #f5d497;
  --primaryClr-l-300: #f7daa4;
  --primaryClr-l-250: #f8dfb1;
  --primaryClr-l-200: #f9e4be;
  --primaryClr-l-150: #faeacb;
  --primaryClr-l-100: #fbefd8;
  --primaryClr-l-50: #fdf4e5;
  --primaryClr-l-00: #fefaf2;

  --greyClr: #9c9c9c;
  --greyClr-900: #a19d96;
  --greyClr-800: #a79f90;
  --greyClr-700: #ada18a;
  --greyClr-600: #b3a384;
  --greyClr-500: #b9a47e;
  --greyClr-400: #bfa678;
  --greyClr-300: #c5a872;
  --greyClr-200: #cbaa6c;

  --text-gradient: linear-gradient(
    180deg,
    var(--primaryClr) 0%,
    var(--primaryClr-00) 100%
  );
  --text-gradient-l: linear-gradient(
    180deg,
    var(--primaryClr) 0%,
    var(--primaryClr-l-00) 100%
  );

  --hr-gradient: linear-gradient(
    90deg,
    var(--primaryClr-00) 0%,
    var(--primaryClr) 50%,
    var(--primaryClr-00) 100%
  );

  --ft-12: 0.75rem;
  --ft-14: 0.875rem;
  --ft-16: 1rem;
  --ft-18: 1.125rem;
  --ft-20: 1.25rem;
  --ft-24: 1.5rem;
  --ft-30: 1.875rem;
  --ft-32: 2rem;
  --ft-64: 4rem;
  --ft-96: 6rem;

  --rd-8: 0.5rem;
  --rd-12: 0.75rem;
  --rd-16: 1rem;
  --rd-20: 1.25rem;
  --rd-24: 1.5rem;
  --rd-32: 2rem;
  --rd-64: 4rem;

  --sectionPd: 2rem 4rem;
  --sectionPdMob: 2rem;

  --transition: all 0.3s ease;

  --fontBold: primaryFont, sans-serif;
  --fontThin: thinFont, sans-serif;
  --fontMedium: mediumFont, sans-serif;
  --fontRegular: regularFont, sans-serif;
  --fontLight: lightFont, sans-serif;

  --fontHdRegular: headRegularFont, sans-serif;
  --fontHdMedium: headMediumFont, sans-serif;
  --fontHdSemi: headSemiFont, sans-serif;
  --fontHdBold: headBoldFont, sans-serif;
  --fontHdBlack: headBlakFont, sans-serif;

  --font-heading: var(--fontHdBold);
  --font-body: var(--fontRegular);
  --font-title: var(--fontBold);
}

*,
::after,
::before {
  box-sizing: border-box;
  transition: all 0.3s ease;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primaryClr-00);
  background-color: var(--primaryClr-l-50);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-family: var(--font-heading);
}
h1 {
  font-size: var(--ft-96);
}

h2 {
  font-size: var(--ft-64);
}

h3 {
  font-size: var(--ft-32);
}

h4 {
  font-size: var(--ft-24);
}

h5 {
  font-size: var(--ft-20);
}

h6 {
  font-size: var(--ft-16);
}
p,
.para {
  margin-top: 0;
  margin-bottom: 1rem;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  display: block;
  color: var(--primaryClr);
}
b,
strong {
  font-weight: bolder;
}
.small,
small {
  font-size: 0.875em;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul[role="menu"],
ol[role="menu"],
ul[role="menubar"],
ol[role="menubar"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
img,
picture,
svg {
  vertical-align: middle;
}

/* Inherit fonts for inputs and buttons */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: capitalize;
}
button,
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}

textarea {
  resize: vertical;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 50rem) {
  :root {
    --sectionPd: 1rem 1.75rem;
    --sectionPdMob: 1rem;

    --ft-12: 0.625rem;
    --ft-14: 0.75rem;
    --ft-16: 0.875rem;
    --ft-18: 1rem;
    --ft-20: 1.125rem;
    --ft-24: 1.25rem;
    --ft-30: 1.75rem;
    --ft-32: 1.875rem;
    --ft-64: 2rem;
    --ft-96: 3rem;
  }
}
