:root {
  --primaryClr: hsl(26, 93%, 63%);
  --primaryClr-900: hsl(26, 93%, 59%);
  --primaryClr-800: hsl(26, 93%, 54%);
  --primaryClr-700: hsl(26, 93%, 50%);
  --primaryClr-600: hsl(26, 93%, 45%);
  --primaryClr-500: hsl(26, 93%, 40%);
  --primaryClr-400: hsl(26, 93%, 36%);
  --primaryClr-300: hsl(26, 93%, 32%);
  --primaryClr-250: hsl(26, 93%, 27%);
  --primaryClr-200: hsl(26, 93%, 23%);
  --primaryClr-150: hsl(26, 93%, 18%);
  --primaryClr-100: hsl(26, 94%, 13%);
  --primaryClr-50: hsl(26, 91%, 9%);
  --primaryClr-00: hsl(26, 91%, 5%);

  --primaryClr-l-900: hsl(26, 93%, 66%);
  --primaryClr-l-800: hsl(26, 93%, 68%);
  --primaryClr-l-700: hsl(26, 93%, 71%);
  --primaryClr-l-600: hsl(26, 93%, 74%);
  --primaryClr-l-500: hsl(26, 93%, 76%);
  --primaryClr-l-400: hsl(26, 93%, 79%);
  --primaryClr-l-300: hsl(26, 94%, 82%);
  --primaryClr-l-250: hsl(26, 93%, 84%);
  --primaryClr-l-200: hsl(26, 94%, 87%);
  --primaryClr-l-150: hsl(26, 93%, 89%);
  --primaryClr-l-100: hsl(25, 95%, 92%);
  --primaryClr-l-50: hsl(26, 93%, 95%);
  --primaryClr-l-00: hsl(23, 100%, 97%);

  --greyClr: hsl(0, 0%, 63%);
  --greyClr-900: hsl(28, 7%, 63%);
  --greyClr-800: hsl(26, 13%, 63%);
  --greyClr-700: hsl(26, 20%, 63%);
  --greyClr-600: hsl(25, 27%, 63%);
  --greyClr-500: hsl(26, 33%, 63%);
  --greyClr-400: hsl(26, 40%, 63%);
  --greyClr-300: hsl(26, 47%, 63%);
  --greyClr-200: hsl(26, 53%, 63%);

  --text-gradient: linear-gradient(
    180deg,
    var(--primaryClr) 0%,
    var(--primaryClr-00) 100%
  );
  --text-gradient-l: linear-gradient(
    180deg,
    var(--primaryClr) 0%,
    var(--primaryClr-l-00) 100%
  );

  --hr-gradient: linear-gradient(
    90deg,
    var(--primaryClr-00) 0%,
    var(--primaryClr) 50%,
    var(--primaryClr-00) 100%
  );

  --ft-12: 0.75rem;
  --ft-14: 0.875rem;
  --ft-16: 1rem;
  --ft-18: 1.125rem;
  --ft-20: 1.25rem;
  --ft-24: 1.5rem;
  --ft-30: 1.875rem;
  --ft-32: 2rem;
  --ft-64: 4rem;

  --rd-8: 0.5rem;
  --rd-12: 0.75rem;
  --rd-16: 1rem;
  --rd-20: 1.25rem;
  --rd-24: 1.5rem;
  --rd-32: 2rem;
  --rd-64: 4rem;

  --sectionPd: 4rem;
  --sectionPdMob: 2rem;

  --transition: all 0.3s ease;

  --fontBold: primaryFont, sans-serif;
  --fontThin: thinFont, sans-serif;
  --fontMedium: mediumFont, sans-serif;
  --fontRegular: regularFont, sans-serif;
  --fontLight: lightFont, sans-serif;

  --fontHdRegular: headRegularFont, sans-serif;
  --fontHdMedium: headMediumFont, sans-serif;
  --fontHdSemi: headSemiFont, sans-serif;
  --fontHdBold: headBoldFont, sans-serif;
  --fontHdBlack: headBlakFont, sans-serif;

  --font-heading: var(--fontHdBold);
  --font-body: var(--fontRegular);
  --font-title: var(--fontBold);
}

*,
::after,
::before {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primaryClr-00);
  background-color: var(--primaryClr-l-50);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-family: var(--font-heading);
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}
p,
.para {
  margin-top: 0;
  margin-bottom: 1rem;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  display: block;
  color: var(--primaryClr);
}
b,
strong {
  font-weight: bolder;
}
.small,
small {
  font-size: 0.875em;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul[role="menu"],
ol[role="menu"],
ul[role="menubar"],
ol[role="menubar"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
img,
picture,
svg {
  vertical-align: middle;
}

/* Inherit fonts for inputs and buttons */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: capitalize;
}
button,
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}

textarea {
  resize: vertical;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
