@font-face {
  font-family: primaryFont;
  src: url(/src/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(/src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(/src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: lightFont;
  src: url(/src/assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: thinFont;
  src: url(/src/assets/fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: headBlakFont;
  src: url(/src/assets/fonts/Merriweather-Black.ttf);
}

@font-face {
  font-family: headBoldFont;
  src: url(/src/assets/fonts/Merriweather-Bold.ttf);
}

@font-face {
  font-family: headMediumFont;
  src: url(/src/assets/fonts/Merriweather-Medium.ttf);
}

@font-face {
  font-family: headSemiFont;
  src: url(/src/assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: headRegularFont;
  src: url(/src/assets/fonts/Montserrat-Regular.ttf);
}
